# Python

*.pyc
*.pyxbldc
*.egg.info
*.egg-info
dist/


# Virtual env
env/


# CMake generated

CMakeCache.txt
CMakeFiles
generated
Makefile
**/build
**/cmake_install.cmake
src/pymodule/setup.py
src/libgrowth/config.hpp
src/libgrowth/spatial_types.hpp
local_install
install_test
src/pymodule/dense/_pygrowth.cpp
src/pymodule/dense/_pygrowth.pxd
set_dense_vars.sh
src/models/models_manager.cpp


# Libraries

*.a
*.so
*.lib
*.dylib
*.dll


# Docs related

docs/_build
docs/.build
docs/Doxyfile
docs/doxyfiles
docs/pg_mock.py
docs/modules/dense.rst
docs/modules/elements.rst
docs/modules/environment.rst
docs/modules/io.rst
docs/modules/morphology.rst
docs/modules/plot.rst


# DeNSE run files

*.pdf
*.swc
*.json
src/pymodule/dense/rw_in_env/ve
src/pymodule/dense/ve
*.el

# Files Alessio

**/tags
*.swo
.idea/
*.swp
*.swn
.ycm_extra_conf.py
cython_debug
compile_commands.json
reset_env.sh
test.swc
*cscope*
phd_tracking/tests
phd_tracking/phd
phd_tracking/vess
image_analysis

restats
