# Python

*.pyc
*.pyxbldc
*.egg.info


# CMake generated

CMakeCache.txt
CMakeFiles
generated
Makefile
**/build
**/cmake_install.cmake
src/pymodule/setup.py
src/libgrowth/config.hpp
local_install
install_test
src/pymodule/dense/_pygrowth.cpp
set_dense_vars.sh


# Libraries

*.a
*.so
*.lib
*.dylib
*.dll


# Docs related

docs/_build
docs/doxyfiles/
docs/conf.py
docs/modules/dense.rst
docs/modules/geometry.rst


# DeNSE run files

*.pdf
*.swc
*.json
src/pymodule/dense/rw_in_env/ve
src/pymodule/dense/ve
*.el

# Files Alessio

**/tags
*.swo
*.swp
*.swn
.ycm_extra_conf.py
cython_debug
compile_commands.json
reset_env.sh
test.swc
*cscope*
phd_tracking/tests
phd_tracking/phd
phd_tracking/vess
image_analysis

restats
